
*{
  box-sizing: border-box;
}

.business-logo {
  filter: brightness(0) invert(1);
}

.emp-list-style{
  list-style: none;
}

.pl0 {
  padding-left: 0;
}

.height-1500 {
  height: 500px;
}

.border-bottom-style{
  border-bottom: 1px solid black;
}